name: Build PostmarketOS (GNOME) for Spacewar

on:
  workflow_dispatch: # Manuel tetikleme

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip git openssl android-sdk-platform-tools-common
          # pmbootstrap'u kaynaktan kuruyoruz
          sudo pip3 install git+https://gitlab.postmarketos.org/postmarketOS/pmbootstrap.git --break-system-packages

      - name: Clone Custom Aports (Nothing Phone 1 Branch)
        run: |
          git clone -b nothing-spacewar https://gitlab.postmarketos.org/fekz115/pmaports.git pmaports
          
          # Remote hatasını çözmek için upstream ekliyoruz
          cd pmaports
          git remote add upstream https://gitlab.postmarketos.org/postmarketOS/pmaports.git
          git fetch upstream
          cd ..

      - name: Initialize and Configure
        run: |
          # Varsayılan ayarlarla config dosyasını oluştur
          yes "" | pmbootstrap --aports=$(pwd)/pmaports init
          
          # Ayarları Spacewar ve GNOME için güncelle
          pmbootstrap config device spacewar
          pmbootstrap config ui gnome
          pmbootstrap config hostname nothing-pmos
          pmbootstrap config user user
          pmbootstrap config build_pkgs_on_install True

      - name: Build Rootfs
        run: |
          # --zap parametresi kaldırıldı, artık hata vermeyecek.
          pmbootstrap install --no-fde --password=1234

      - name: Export Images
        run: |
          pmbootstrap export

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pmos-spacewar-gnome-images
          path: /tmp/postmarketOS-export/
          retention-days: 5
